<link rel="stylesheet" href="../../../../assets/vendors/owl-carousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../../../assets/vendors/owl-carousel/css/owl.theme.default.css">
<link rel="stylesheet" href="../../../../assets/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="../../../../assets/vendors/aos/css/aos.css">
<link rel="stylesheet" href="../../../../assets/css/style.min.css">

<script src="../../../../assets/vendors/jquery/jquery.min.js"></script>
<script src="../../../../assets/vendors/bootstrap/bootstrap.min.js"></script>
<script src="../../../../assets/vendors/owl-carousel/js/owl.carousel.min.js"></script>
<script src="../../../../assets/vendors/aos/js/aos.js"></script>
<script src="../../../../assets/js/landingpage.js"></script>
<header id="header-section">
  <nav class="navbar navbar-expand-lg pl-3 pl-sm-0 fixed-top" id="navbar">
    <div class="container d-flex align-items-center">

      <div class="d-flex align-items-center" routerLink="/">
        <img src="./assets/images/buslogo.png" alt="Bus Booking Logo" style="height: 50px;">
        <span class="ml-2 h4 mb-0 fw-bold text-gradient">BusGo</span>
      </div>

      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="mdi mdi-menu navbar-toggler-icon"></span>
      </button>

      <div class="d-flex align-items-center">
        @if (isLoggedIn) {
          <div class="dropdown user-dropdown">
            <button class="btn btn-light d-flex align-items-center" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="mdi mdi-account-circle user-avatar"></i>
              <span class="fw-bold text-primary ms-2">{{ currentUser?.userName }}</span>
              <i class="mdi mdi-menu-down ms-2"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <a class="dropdown-item" routerLink="/booking/">
                <i class="mdi mdi-bus me-2"></i> Book a Bus
              </a>
              <a class="dropdown-item" routerLink="/search">
                <i class="mdi mdi-magnify me-2"></i> Search a Bus
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" routerLink="/profile">
                <i class="mdi mdi-account me-2"></i> Profile
              </a>
              <a class="dropdown-item" routerLink="/settings">
                <i class="mdi mdi-settings me-2"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item text-danger" (click)="logout()">
                <i class="mdi mdi-logout me-2"></i> Logout
              </button>
            </div>
          </div>
          
          
      }@else{
          <div>

            <a class="btn btn-outline-danger me-2" routerLink="login">Login</a>
            <a class="btn btn-danger" routerLink="register">Register</a>
          </div>
       }
      </div>
    </div>
  </nav>
</header>
<main class="continer">
  <router-outlet></router-outlet>
</main>